@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic);
/* ::::::::::::::::GRID::::::::::::::: */
[class*="col-"] {
  float: left;
  min-height: 1px; }

.col-1 {
  width: 8.33%; }

.col-2 {
  width: 16.66%; }

.col-3 {
  width: 25%; }

.col-4 {
  width: 33.33%; }

.col-5 {
  width: 41.66%; }

.col-6 {
  width: 50%; }

.col-7 {
  width: 58.33%; }

.col-8 {
  width: 66.66%; }

.col-9 {
  width: 75%; }

.col-10 {
  width: 83.33%; }

.col-11 {
  width: 91.66%; }

.col-12 {
  width: 100%; }

.col-offset-1 {
  margin-left: 8.33%; }

.col-offset-2 {
  margin-left: 16.66%; }

.col-offset-3 {
  margin-left: 25%; }

.col-offset-4 {
  margin-left: 33.33%; }

.col-offset-5 {
  margin-left: 41.68%; }

.col-offset-6 {
  margin-left: 58%; }

.col-offset-7 {
  margin-left: 58.33%; }

.col-offset-8 {
  margin-left: 66.66%; }

.col-offset-9 {
  margin-left: 75%; }

.col-offset-10 {
  margin-left: 83.33%; }

.col-offset-11 {
  margin-left: 91.66; }

/* grid rwd */
@media (max-width: 767px) {
  /* For tablets: */
  .col-s-1 {
    width: 8.33%; }

  .col-s-2 {
    width: 16.66%; }

  .col-s-3 {
    width: 25%; }

  .col-s-4 {
    width: 33.33%; }

  .col-s-5 {
    width: 41.66%; }

  .col-s-6 {
    width: 50%; }

  .col-s-7 {
    width: 58.33%; }

  .col-s-8 {
    width: 66.66%; }

  .col-s-9 {
    width: 75%; }

  .col-s-10 {
    width: 83.33%; }

  .col-s-11 {
    width: 91.66%; }

  .col-s-12 {
    width: 100%; } }
@media (min-width: 768px) {
  /* For desktop: */
  .col-m-1 {
    width: 8.33%; }

  .col-m-2 {
    width: 16.66%; }

  .col-m-3 {
    width: 25%; }

  .col-m-4 {
    width: 33.33%; }

  .col-m-5 {
    width: 41.66%; }

  .col-m-6 {
    width: 50%; }

  .col-m-7 {
    width: 58.33%; }

  .col-m-8 {
    width: 66.66%; }

  .col-m-9 {
    width: 75%; }

  .col-m-10 {
    width: 83.33%; }

  .col-m-11 {
    width: 91.66%; }

  .col-m-12 {
    width: 100%; } }
body {
  margin: 0;
  font-family: 'Open Sans', sans-serif; }

* {
  border-box: box-sizing; }

.clear-both, .row:before,
.row:after, .clearfix:before,
.clearfix:after {
  clear: both; }

.row:before,
.row:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */ }

.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */ }

header {
  background-color: #313234;
  height: 50px;
  background-color: rgba(0, 0, 0, 0.5); }

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto; }

header nav img {
  padding: 10px 0; }
header nav ul {
  float: right;
  margin: 0;
  padding: 0;
  list-style-type: none; }
  header nav ul li {
    display: inline-block; }
    header nav ul li a {
      line-height: 50px;
      display: block;
      color: #fff;
      padding: 0 20px;
      text-decoration: none;
      text-transform: uppercase; }
      header nav ul li a:hover {
        background: #ccc; }

.hero {
  width: 100%;
  height: 500px;
  background-image: url("https://images.unsplash.com/1/macbook-air-all-faded-and-stuff.jpg?auto=format&fit=crop&w=1350&q=60&ixid=dW5zcGxhc2guY29tOzs7Ozs%3D");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
  position: relative; }
  .hero .icon-container {
    position: absolute;
    bottom: 10px;
    left: calc(50% - 30px); }
  .hero .slogan {
    color: #b7b7b7;
    background-color: rgba(0, 0, 0, 0.5);
    float: right;
    text-align: left;
    padding: 15px 250px 15px 30px;
    margin-top: 170px;
    max-width: 800px;
    text-transform: uppercase; }
    .hero .slogan h1 {
      font-weight: 300; }
      .hero .slogan h1 span {
        color: #fff;
        font-weight: 900; }

/* :::::::Korzysci::::::::: */
.benefits {
  margin-top: 50px;
  text-align: center; }
  .benefits .container .row .item .black {
    color: #fff;
    background: #000; }
  .benefits .container .row .item .blue {
    color: #fff;
    background: #0090ff; }
  .benefits .container .row .item h2 {
    text-transform: uppercase; }
  .benefits .container .row .item .fa {
    font-size: 120px;
    padding: 20px;
    border-radius: 15px; }
  .benefits .container .row .item p {
    color: #b7b7b7; }
  .benefits .container .row .item-blue h2 {
    color: #0090ff; }

.featured-works {
  margin: 50px auto; }
  .featured-works .featured h1 {
    text-align: center; }
  .featured-works .featured p {
    text-align: center;
    text-decoration: justify;
    color: #b7b7b7; }

/*::::::::::::GALERIA:::::::::::*/
section.gallery .photo-container {
  position: relative;
  bottom: 10px; }
  section.gallery .photo-container:hover .layer {
    display: block; }
  section.gallery .photo-container img {
    width: 100%;
    display: block; }
  section.gallery .photo-container .layer {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5); }
    section.gallery .photo-container .layer .icon-container {
      color: #fff;
      position: absolute;
      left: calc(50% - 30px);
      top: calc(50% - 8px); }
      section.gallery .photo-container .layer .icon-container i {
        margin: 0 5px;
        font-size: 20px; }

/*::::::::::OUR TEAM:::::::::::*/
section.team {
  margin: 50px auto; }
  section.team h4 {
    text-align: center;
    font-size: 34px; }
  section.team .person-container {
    position: relative;
    border-radius: 50%;
    overflow: hidden;
    width: 160px;
    height: 160px;
    margin: auto; }
    section.team .person-container:hover .layer {
      display: block; }
    section.team .person-container img {
      width: 100%;
      height: 160px;
      display: block; }
    section.team .person-container .layer {
      display: none;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background: rgba(0, 0, 0, 0.5); }
      section.team .person-container .layer .desc-container h5 {
        color: #fff;
        position: absolute;
        left: calc(50% - 25px);
        top: calc(50% - 12px); }

/* ::::::::::::Tablet:::::::::::::::::*/
section.tablet-section {
  background: rgba(0, 0, 0, 0.5);
  padding-top: 40px;
  margin-bottom: 0; }
  section.tablet-section .tablet {
    width: 80%;
    text-align: center; }
  section.tablet-section h2,
  section.tablet-section p {
    color: #ddd;
    text-align: left; }

/*:::::::::::Statistics::::::::::::::*/
.statistics {
  margin: 50px auto; }
  .statistics .row .stats h1 {
    font-size: 70px;
    font-weight: bold;
    font-family: 'Bevan', cursive;
    margin: 1px auto;
    text-align: center; }
  .statistics .row .stats p {
    color: #0090ff;
    font-size: 23px;
    font-weight: bold;
    text-transform: uppercase;
    margin: 1px auto;
    text-align: center; }

/*::::::::::::::::Footer:::::::::::::*/
footer {
  background: #313234;
  color: #fff; }
  footer .about-us h3 {
    text-align: left; }
  footer .about-us p {
    padding-right: 20px;
    text-align: left; }
  footer .about-us .social .fa {
    text-align: center;
    margin: 0 5px;
    background: #0090ff;
    width: 25px;
    height: 25px;
    line-height: 25px;
    cursor: pointer; }
  footer .copy {
    overflow: auto;
    background: #161616;
    width: 100%; }
    footer .copy p {
      color: #fff;
      text-align: center; }
  @media (max-width: 767px) {
    footer header > nav ul {
      float: none;
      text-align: center; }
    footer header > nav ul > li {
      display: block; }
    footer header > nav ul > li > a {
      float: none; }
    footer header {
      height: 200px; }
    footer header img {
      display: block;
      margin: 0 auto; }
    footer section.hero .slogan {
      width: 100%;
      padding: 0 70px; }
    footer section.hero .slogan h1 {
      text-align: center; }
    footer section.benefits,
    footer section.featured-works {
      padding: 0 10px;
      text-align: center;
      text-decoration: justify; }
    footer section.tablet-section {
      padding: 0 10px;
      text-align: center; }
    footer section.gallery .photo-container .layer {
      display: none;
      background: rgba(0, 0, 0, 0); }
    footer section.gallery .photo-container:hover .layer {
      display: none; }
    footer section.team .person-container .layer {
      display: none;
      background: rgba(0, 0, 0, 0); }
    footer section.team .person-container:hover .layer {
      display: none; }
    footer section.tablet-section h2, footer p {
      text-align: center; }
    footer footer {
      text-align: center; }
    footer footer .about-us h3 {
      text-align: center; }
    footer footer .contact {
      margin-bottom: 10px; }
    footer footer .about-us, footer .address, footer .social {
      padding: 0 10px 10px 10px; } }

/*# sourceMappingURL=style.css.map */
